<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" type="text/css" href="../slate/css/slate.min.css">
    <link rel="stylesheet" type="text/css" href="css/custom.css">
    <title>Template Config Page</title>
</head>

<body>
    <div class="item-container">
        <!-- Insert config things here -->
        <div class="item-container">
            <!-- Here be submit button -->
            <input id="submitButton" type="button" class="item-button" value="send">
        </div>
    </div>
    <script src="../slate/js/slate.min.js"></script>
    <script src="js/config.js"></script>
</body>

</html>